<div class="region-page">
    <div class="page-header">
        <div class="page-title"> Overview </div>
        <div class="page-info"> {{ regions?.length | async }} Regions</div>
    </div>
    <div class="page-content" *ngIf="!loaderOn">
        <div class="page-controls">
            <div (click)="addRegion()" class="left-icon-button">
                <div class="button-icon">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <p> Add Region </p>
            </div>
            <div class="page-controls-filters">
                <input [(ngModel)]="regionFilter" (ngModelChange)="filterUpdate()" type="text" class="page-controls-search">
            </div>
        </div>
        <div class="editable-table regions-table">
            <table>
                <tr class="editable-table-titles">
                    <th class="edit-header"></th>
                    <th class="region-name"> name </th>
                    <th class="region-image">imageUrl</th>
                </tr>
                <tr *ngFor="let region of regions | async" class="editable-row region">
                    <td class="region-edit" (click)="editregion(region)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" pTooltip="Edit" tooltipPosition="bottom"></i>
                    </td>
                    <td class="region-name"> {{region.name}} </td>

                    <td class="region-image">
                        <img src="{{region.imageUrl}}" class="button-td" height="42" width="42" (click)="showImagePreview(region)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="loader" *ngIf="loaderOn">
        <loader-component ></loader-component>
    </div>
    <p-dialog class="dialog-container" [(visible)]="dialogVisable" [closable]="false" modal="modal" showEffect="fade" [resizable]="false"
        [draggable]="false">
        <header class="dialog-header">
            <div *ngIf='titleSwitch' class="title"> Add region</div>
            <div *ngIf='!titleSwitch' class="title"> Edit region</div>
            <div class="dialog-close-icon" (click)="hideDialog()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </header>
        <div class="dialog-content">
            <div class="material-input">
                <div class="group">
                    <input type="text" [(ngModel)]="editableRegion.name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>name</label>
                </div>
            </div>
            <div class="material-input">
                <div class="group">
                    <input type="text" [(ngModel)]="editableRegion.imageUrl" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>imageFile</label>
                </div>
            </div>
        </div>
        <form [hidden]='!showUpload' class="upload_form">
        </form>

        <div *ngIf="!showUpload">
            <button *ngIf="!uploadDone" class="cancelButton" (click)="cancelUploadfunction()"> Cancel Upload</button>
            <button *ngIf="uploadDone" class="removeButton" (click)="removeUploadfunction()" style="disabled:disabled;"> Remove Upload </button>
            <div class="contain_progress">
                <div class="progress_bar" style="width:100%">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
        <footer>
            <div class="square-button" (click)="removeRegion()">Delete</div>
            <div class="square-button" (click)="saveRegion()">save</div>
        </footer>
    </p-dialog>
    <p-dialog class="dialog-container" [(visible)]="imagePreviewVisible" [closable]="true" modal="modal" showEffect="fade" [resizable]="false"
        [draggable]="false">
        <div class="dialog-content-preview">
            <div class="preview-img">
                <img src="{{editableRegion.imageUrl}}">
            </div>
        </div>
    </p-dialog>  
</div>
<p-growl [value]="msgs"></p-growl>