@import '../../style/variables.scss';
@mixin dialog() {
    .dialog-container {
        .dialog-content {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        textarea {
            width: 100%;
            height: 80px;
        }
        h5 {
            color: $highlightColor;
            width: 100%;
        }
        .square-button {
            width: 170px;
            margin: 5px;
            display: inline-block;
        }
        .disable-button {
            pointer-events: none;
            background-color: #c1c1c1;
        }
    }
}